<app-navhome></app-navhome>
<div class="main">

   <mat-grid-list cols="2" rowHeight="2:1">

      <mat-grid-tile>
         <div class="B">
            <img src="/assets/book2.jpg" height="100%" width="100%">
         </div>
      </mat-grid-tile>
      <mat-grid-tile>
         <p>Digital libraries provide the students with the convenience of learning at their own comfort. Students can
            access and read the library materials in various digital formats (eBooks, audiobooks, videos on demand 24
            hrs/day) anytime and anywhere using their preferred devices.There is no luxury such as having access to
            abundant knowledge and relevant information pertaining to specific subjects. </p>
      </mat-grid-tile>
      <mat-grid-tile>

         <p>Accessing the digital library is much easier and efficient, unlike a conventional library, students don't
            have to check the opening and closing hours to plan their visits; with just an internet connection, you can
            access a digital library anytime, anywhere. Digital libraries provide the students with the convenience of
            learning at their own comfort. Students can access and read the library materials in various digital formats
            (eBooks, audiobooks, videos on demand 24 hrs/day) anytime and anywhere using their preferred devices.</p>

      </mat-grid-tile>
      <mat-grid-tile>
         <div class="B">
            <img src="/assets/book3.jpg" height="100%" width="100%">
         </div>
      </mat-grid-tile>
      <mat-grid-tile>
         <div class="B">
            <img src="/assets/book4.jpg" height="100%" width="100%">
         </div>
      </mat-grid-tile>
      <mat-grid-tile>

         <p>A Digital library cuts short
            the time and effort one would put into visiting a conventional library and finding the right book. With
            options like in-built content search with only a few keywords or titles, searching for what you need from
            thousands of resources becomes easy. One of the main benefits of using the digital library is that students
            can clarify their doubts then and there with new-age management software that can facilitate interaction
            between readers and administrators. The readers can also interact by setting up online communities and find
            a resolution to their doubts in real-time. This dynamic and real-time interaction feature has the potential
            to make the readers switch from conventional libraries to digital libraries.</p>
      </mat-grid-tile>
   </mat-grid-list>
   <app-footer></app-footer>
</div>

<div class="footer">
   <div class="col1">
      <h2>Contact Us : </h2>
      <hr>
      <span>
         <h3> 58585858585</h3>
         <h3> 45454545454</h3>
         <h2>Email : BookNation@gmail.com / booknation.com</h2>
      </span>
   </div>

</div>