<div class="example-form">
    <div mat-dialog-title>
        <div class="close_btn">
            <button mat-icon-button mat-dialog-close>
                <mat-icon>close</mat-icon>
            </button>
        </div>
<h1 class="title">Register Here</h1>
    </div>
    <form class="form" [formGroup]="RegisterForm" >
        <!--Firstname-->
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Firstname</mat-label>
            <input type="name" matInput  required formControlName="Firstname">
        </mat-form-field>

        <!--Lastname-->
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input type="name" matInput  formControlName="Lastname"  required>
        </mat-form-field>

        <!-- Email -->
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="name" matInput formControlName="Email"  required>
        </mat-form-field>

         <!-- Role -->
         <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select [(ngModel)]="selectedValue" name="Role" formControlName="Role">
              <mat-option *ngFor="let role of roles" [value]="role.value">
                {{role.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>&nbsp;&nbsp;

        <!-- Gender -->
        <mat-radio-group aria-label="Select an option" formControlName="Gender" required>
            <mat-label>Gender: </mat-label>
            <mat-radio-button value="Male">Male</mat-radio-button>&nbsp;&nbsp;
            <mat-radio-button value="Female">Female</mat-radio-button>&nbsp;&nbsp;
        </mat-radio-group>
        <br><br>

        <!-- City -->
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>City</mat-label>
            <input matInput placeholder="Ex. San Francisco" formControlName="City"  required>
        </mat-form-field>

        <!-- Details -->
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Mobile</mat-label>
            <span matPrefix>+91 &nbsp;</span>
            <input type="tel" matInput placeholder="7777777777"  formControlName="Mobile">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <!-- second Part -->
        <button mat-raised-button color="primary" (click)="onSubmit()" >Register</button>
    </form>
</div>