<mat-toolbar color="primary">
    
    <span>Welcome Admin..</span>
    <span class="example-spacer"></span>
  
   <button mat-icon-button style="margin-right: 20px;" (click)="openInfo()">
        <mat-icon>account_circle</mat-icon>
    </button>

    <button mat-icon-button class="example-icon" style="margin-right: 20px;">
      <mat-icon matBadge={{requestDatalength}} matBadgeColor="warn" (click)="openNotification()">notifications</mat-icon>
    </button>
   
    <button mat-icon-button  style="margin-right: 20px;" (click)="logout()">
       <mat-icon>logout</mat-icon>
      </button>
  
  </mat-toolbar>
<router-outlet></router-outlet>

