h1 {
    text-align: center;
    
}

.main {
    margin-left: 37%;
    margin-top: 10px;
    width: 400px;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}